/* Header.css */
.navbar-custom {
  background-color: #007bff;
  padding: 0.9rem;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white;
  font-size: 0.9rem;
}

.navbar-custom .nav-link {
  margin-right: 0.7rem;
}

.navbar-custom .nav-link:hover {
  color: #ffc107;
  transition: color 0.3s;
}

.navbar-custom .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-custom .navbar-brand img {
  height: 40px;
  margin-right: 10px;
}
